/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    /* border: 1px solid  */
}

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    min-height: 100vh;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    font-family: 'Outfit', sans-serif;
    width: 300px;
    height: 480px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 15px;

}

h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    margin-top: 20px;
}

p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin-top: 0;

}


.qr {

    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.text {

    display: flex;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;


}